/*
 * 第二步驟核心設定：Singularity 區塊修復檔範例
 * 請確保 nextflow.config 中的 singularity 區塊包含 'singularity.runOptions = "-B /tmp:/tmp"'
 */

profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.runOptions  = '-B /tmp:/tmp' // 👈 關鍵！修復 QIIME 2 (2026.7+) Rachis Python 3.12 暫存檔隔離
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
}
