/*
 * Nextflow configuration for nf-core/ampliseq on NCHC Slurm HPC
 */

singularity {
    enabled     = true
    autoMounts  = true
    runOptions  = '-B /tmp:/tmp'
}

process {
    executor = 'local'
    beforeScript = '''
        mkdir -p "$PWD/.nxf-tmp"
        export TMPDIR="$PWD/.nxf-tmp"
        export TMP="$TMPDIR"
        export TEMP="$TMPDIR"
    '''.stripIndent().trim()
}
